html,
body {
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

p {
    margin: 0;
}

.content {
    width: 100%;
    height: auto;
}

.title {
    font-size: 84px;
    text-align: center;
}

.m-b-md {
    margin-bottom: 30px;
    font-size: 30 px;
    text-align: center;
}

.bg-image {
    background-image: url(/img/background.svg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tag-clouds {
    position: relative;
    display: block;
}

.tag-cloud-link {
    display: inline-block;
    padding: 4px 12px;
    margin: 3px auto;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #E4E1EB;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(51, 47, 58, 0.15);
}

.categories {
    position: relative;
    display: block;
    list-style: none;
    padding-left: 24px;
}

.categories li {
    position: relative;
    display: block;
    margin: 6px auto;
}

.categories li::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -21px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 0 3px #526bf5;
}

.categories li span {
    float: right;
}

.search-form .form-group {
    position: relative;
}

.search-form .icon {
    position: absolute;
    top: 15px;
    right: 15px;
}
.search-form .icon2 {
  position: absolute;
  top: 15px;
  right: 15px;
}

.widget-wrap {
    position: relative;
    display: block;
    padding: 50px;
    width: auto;
    height: 100%;
    white-space: nowrap;
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #f5f4fa;
    border-bottom: 3px solid #7b50e6;
    box-shadow: 0 2px 3px rgba(51, 47, 58, 0.15);
    z-index: 3;
}
.widget-wrap2 {
    position: relative;
    display: block;
    padding: 50px;
    width: 900px;
    height: 100%;
    white-space: nowrap;
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #f5f4fa;
    border-bottom: 3px solid #7b50e6;
    box-shadow: 0 2px 3px rgba(51, 47, 58, 0.15);
    z-index: 3;
}

.widget-title {
    margin-bottom: 16px;
}

.meta-item {
    display: inline-block;
    margin-right: 12px;
    font-size: 14px;
}

.meta-item .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 14px;
    background: linear-gradient(to bottom right, #3D58F3, #9548F9);
    color: #fff;
    border-radius: 50%;
}
.meta-item .icon2 {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  font-size: 14px;
  background: linear-gradient(to bottom right, #78ff83, #69f8fd);
  color: #fff;
  border-radius: 50%;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.tab-content>.active {
    display: block;
}

.tab-content>.tab-pane {
    display: none;
}

.fade {
    transition: opacity .15s linear;
}
